<div class="row">

    <div class="col-md-12">
        <br>
        <h2>Departments
            <a href="/department/add" class="btn btn-success float-right">Add New Department</a>
        </h2>
        <hr/>
        {{#if departments}}
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>department Id</th>
                        <th>department Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each departments }}
                        <tr>
                            <td><a href="/department/{{departmentId}}">{{ departmentId }}</a></td>
                            <td><a href="/employees?department={{departmentId}}">{{ departmentName }}</a></td>
                            <td>
                                <a class="btn btn-danger"
                                   href="/departments/delete/{{departmentId}}">delete</a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>

            </div>
        {{/if}}
    </div>

    {{#unless departments }}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
    {{/unless}}
</div>